body {
	background-color: grey;
}
.droid-sans{
	font-family: 'Droid Sans', sans-serif;
}
.bellefair {
	font-family: 'Bellefair', serif;
}
.heading-container {
	background-color: blue;
	color: white;
	width: 100%;
	padding: 0px 0px 0px 2.5px;
	display: flex;
	flex-wrap: wrap;
	max-height: 200px;
	align-items: column;
}
.heading-first {
	flex: 1;
	width: 100%;
}
.heading-second {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav {
	background-color: white;
	color: black;
	display: flex;
	text-align: center;
	font-size: 18px;
}
.heading-Home {
	margin: auto;
	flex: 1;
}
.heading-About {
	margin: auto;
	flex: 1;
}
.heading-Contact {
	margin: auto;
	flex: 1;
}

.overall-container{
	background-color: white;
	border-color: grey;
	border-style: solid;
	border-width: 2px;
	padding: 20px;
	margin: 10px;
}
.img-container {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
.images {
	max-width: 300px;
	max-height: 200px;
	margin: 10px auto 10px auto;
	border-radius: 10px;
	box-shadow: 2.5px 2.5px #2E2E2E;
}
textarea {
	height: 100px;
	width: 200px;
}
a:hover {
	color: green;
	font-weight: bold;
}
h1, h2 {
	text-align: center;
}
.form-border {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	padding: 10px;
	margin: 0 auto;
}


@media (min-width: 768px){
	.img-container {
		max-width: 1600px;
		justify-content: space-between;
	}
	.images {
		max-width: 400px;
		max-height: 300px;
	}
	.heading-container {
		align-items: row;
	}
	textarea {
		height: 300px;
		width: 400px;
	}
}
